html{
    background: #000945;
    font-family: 'Open Sans', sans-serif;
}

.main-wrapper {
    min-height: 100%;
    right: 0;
    background-image: url("../img/wallpaper/wall1.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #000945;
}

.content-wrapper {
    background: rgba(100, 100, 100, .5);
    padding: 15px;
    overflow: auto;
    min-width: 500px;
    max-width: 90%;
    margin: 0 auto;
}

.main-menu {
    margin: 0 auto;
    padding: 50px 2%;
}

.main-menu:after {
    content: "";
    display: block;
    clear: both;
}

.main-menu-logo {
    height: 100px;
    width: 115px;
    font-size: 36px;
    background: url("../img/des/logo_holder.png") no-repeat;
    line-height: 100px;
    padding: 0 10px;
    display: inline-block;
}

.main-menu-wrapper {
    display: inline-block;
}

.main-menu-item {
    display: inline-block;
    background: #facc28;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    min-width: 40px;
    text-align: center;
    margin-bottom: 5px;
}

.main-menu-link {
    color: black;
    font-weight: bold;
    text-decoration: none;
}
.main-island{
    margin: 5px;
    background: rgba(100, 100, 100, .7);
}

.main-h2 {
    font-size: 48px;
    padding: 15px 10px;
}

.main-h3 {
    font-size: 36px;
    font-weight: 600;
    padding: 10px 10px;
}

.main-h4 {
    font-size: 24px;
    font-weight: 600;
    padding: 10px 10px;
}

.main-text {
    padding: 10px;
}

.main-video-r {
    padding: 15px;
}


.main-link {
    color: #facc28;
    text-decoration: none;
}

.main-link:hover {
    text-decoration: underline;
}

.active {
    color: red;
}
