.people-container {
    -moz-column-width: 210px;
    -webkit-column-width: 210px;
    column-width: 210px;
}

.people-search-wrapper {
    background: #facc28;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    width: 400px;
    margin-bottom: 5px;
}

.people-search-input {
    width: 330px;
    margin: 10px;
}

.people-card {
    display: inline-block;
    width: 200px;
    padding: 10px 10px;
    margin: 5px;
    background: rgba(138, 96, 96, 1);
    transition: all 1s;
    -moz-transition: all 1s; /* Firefox 4 */
    -webkit-transition: all 1s; /* Safari and Chrome */
    -o-transition: all 1s; /* Opera */
    max-height: 600px;
    overflow: hidden;
}

.people-card-collapsed {
    max-height: 15px;
}

.people-card-img {
    width: 200px;
}

.people-card-img-pic {
    width: 100%;
}

.people-card-top {
    padding-bottom: 5px;
}

.people-card-top-name {
    font-size: 17px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 130px;
    display: inline-block;
}

.people-card-name-link {
    color: #ff6600;
}

.people-card-top-control {
    display: inline-block;
}

.people-card-top-control-btn {
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.people-card-top-control-collapse {
    background: url("../img/des/card_collapse.png") no-repeat;
}

.people-card-top-control-edit {
    background: url("../img/des/card_edit.png") no-repeat;
}

.people-card-top-control-close {
    background: url("../img/des/card_close.png") no-repeat;
}

.people-card-about {
    width: 100%;
    max-height: 125px;
    font-style: italic;
    overflow: hidden;
    position: relative;
}

.people-card-about:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 30px;
    height: 20px;
    border-radius: 20px;
    box-shadow: -30px 30px 35px 55px rgba(138, 96, 96, 1);
}

.human-name-header {
    color: #FF6600;
    padding: 20px;
    font-size: 45px;
}

.human-blockquote {
    background: rgba(150, 150, 150, .8);
    border-left: 10px solid #FF6600;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
}

.human-blockquote:before {
    color: #ff6600;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

.human-blockquote:after {
    content: '';
    display: block;
    clear: both;
}

.human-photo {
    margin-right: 10px;
    float: left;
}

.human-blockquote p {
    display: inline;
}

.human-sotial {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 2px;
}