.people-container {
    -moz-column-width: 210px;
    -webkit-column-width: 210px;
    column-width: 210px;
}

.people-search-wrapper {
    background: #facc28;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    width: 400px;
    margin-bottom: 5px;
}

.people-search-input {
    width: 310px;
    margin: 10px;
}

.people-card {
    display: inline-block;
    width: 200px;
    margin: 10px;
    background: rgba(180, 180, 180, 0.5);
}

.people-card-img {
    width: 200px;
}

.people-card-img-pic {
    width: 100%;
}

.people-card-top {
    padding: 3px;
}

.people-card-top-name {
    font-size: 17px;
    display: inline-block;
    width: 140px;
}

.people-card-name-link {
    color: #facc28;
}

.people-card-top-control {
    display: inline-block;
    vertical-align: top;
}

.people-card-top-control-btn {
    cursor: pointer;
    width: 18px;
    height: 18px;
    display: inline-block;
}

.people-card-top-control-collapse {
    background: url("../img/des/card_collapse.png") no-repeat;
}

.people-card-top-control-edit {
    background: url("../img/des/card_edit.png") no-repeat;
}

.people-card-top-control-close {
    background: url("../img/des/card_close.png") no-repeat;
}

.people-card-about {
    width: 100%;
    max-height: 125px;
    font-style: italic;
    overflow: hidden;
    position: relative;
}

.people-card-about:after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 30px;
    height: 20px;
    border-radius: 20px;
    box-shadow: -30px 30px 35px 55px rgba(180, 180, 180, 1);
}

.human-header {
    color: #facc28;
    padding: 5px 5px 15px 15px;
    font-size: 45px;
    display: inline-block;
}

.human-subheader {
    color: #facc28;
    padding: 15px 0;
    font-size: 25px;
    display: inline-block;
}

.human-map {
    width: 100%;
    height: 300px;
}


.human-photo {
    margin-right: 10px;
    display: inline-block;
    vertical-align: top;
}
.human-blockquote-wrapper{
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}
.human-blockquote {
    background: rgba(150, 150, 150, .8);
    border-left: 10px solid #facc28;
    padding: 10px 10px;
    quotes: "\201C" "\201D" "\2018" "\2019";
    display: block;
}

.human-blockquote:before {
    color: #facc28;
    content: open-quote;
    font-size: 70px;
    line-height: 30px;
    margin-right: 10px;
    vertical-align: -20px;
}

.human-blockquote p {
    display: inline;
}

.human-sotial {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 2px;
}