<h1 class="lesson-name-header">{{ lecture.name }}</h1>
<div class="lesson-person">
    <div class="lesson-person-name f-l">
        <a href="#/teachers/{{ teacher.id }}" class="lesson-link"> {{ teacher.fName }} {{ teacher.lName }}</a>
    </div>
    <div class="lesson-person-img">
        <a href="#/teachers/{{ teacher.id }}">
            <img ng-src="{{ teacher.photos.m }}" alt="{{ teacher.fName }} {{ teacher.lName }}"/>
        </a>
    </div>

</div>
<div class="lesson-media-holder">
    <div class="lesson-video" ng-hide="!lecture.video_url">
        <iframe class="player" width="750" height="263"
                src="{{ lecture.video_url }}"></iframe>
    </div>
    <div class="lesson-slide" ng-hide="!lecture.slides_url">
        <iframe class="player" width="750" height="625"
                src="{{ lecture.slides_url }}"></iframe>
    </div>
    <hr>
    <div class="main-island" ng-repeat="comment in comments | filter:{lessonId: lecture.id}">
        <div class="comment">
            <div class="comment-name">{{ comment.name }}:</div>
            <div class="comment-text">{{ comment.text}}</div>
        </div>
    </div>
    <hr>
    <form id="addComment" ng-submit="submit()" ng-controller="APP.Ctrls.CommentsCtrl">
        <div class="control-form-part">
            <h3 class="main-h3">Добавить комментарий:</h3>
            <div class="control-group">
                <label class="control-group-label" for="name">Имя:</label>
                <input id="name" ng-model="name" ng-required="true">
            </div>
            <div class="control-group">
                <label class="control-group-label" for="text">Комментарий:</label>
                <textarea id="text" name="text" ng-model="text"></textarea>
            </div>
            <div class="control-group">
                <button type="submit" class="comment-button">Отправить</button>
            </div>
        </div>
    </form>
</div>