<div class="people-search-wrapper">
    <label for="search">Поиск:</label><input id="search" ng-model="searchQuery" class="people-search-input">
</div>
<div class="people-container">
    <div class="people-card"
         ng-repeat="human in people | filter:searchQuery |filter:{roleId: groupId}">
        <div class="people-card-top">
            <div class="people-card-top-name  f-l">
                <a class="people-card-name-link" href="#/{{ groupName }}/{{human.id}}">
                    {{human.lName}} {{ human.fName }}
                </a>
            </div>
            <div class="people-card-top-control">
                <a href="#/{{ groupName }}/{{ human.id }}/edit">
                    <span class="people-card-top-control-btn people-card-top-control-edit">
                    </span>
                </a>
                <span ng-click="remove( human.id )"
                      class="people-card-top-control-btn people-card-top-control-close">
                      </span>
            </div>
        </div>
        <div class="people-card-img">
            <img class="people-card-img-pic" ng-src="{{ human.photos.b }}"/>
        </div>
        <div class="people-card-about">
            {{ human.about }}
        </div>
    </div>
    <div class="people-card">
        <a class="people-card-name-link" href="#/{{ groupName }}/add">
            <div class="people-card-top">
                <div class="people-card-top-name  f-l">
                    [ Добавить ]
                </div>
            </div>
            <div class="people-card-img">
                <img class="people-card-img-pic" ng-src="app/img/des/dummy_{{ groupName }}.jpg"
                     alt=" {{human.lName}} {{ human.fName }}"/>
            </div>
        </a>
    </div>
</div>