<h1 class="human-header">{{ human.fName }} {{ human.lName }}</h1>
<div class="people-card-top-control">
    <a href="#/students/{{ human.id }}/edit">
                    <span class="people-card-top-control-btn people-card-top-control-edit">
                    </span>
    </a>
                <span ng-click="remove( human.id )"
                      class="people-card-top-control-btn people-card-top-control-close">
                      </span>
</div>
<div id="map" class="human-map" ng-init="initializeMap()" ng-hide="!city"></div>
<div class="human-blockquote" ng-hide="!human.about">
    <p>
        {{ human.about }}
    </p>
</div>
<div class="human-sotial" ng-hide="!fb">
    <a href="{{fb}}" target="_blank">
        <img src="app/img/des/fb.png" alt="facebook"/>
    </a>
</div>
<div class="human-sotial" ng-hide="!git">
    <a href="{{ git }}" target="_blank">
        <img src="app/img/des/git.png" alt="github"/>
    </a>
</div>
<div class="human-sotial" ng-hide="!ya">
    <a href="{{ ya }}" target="_blank">
        <img src="app/img/des/ya.png" alt="ya.ru"/>
    </a>
</div>
<div class="human-sotial" ng-hide="!vk">
    <a href="{{ vk }}" target="_blank">
        <img src="app/img/des/vk.png" alt="vk.com"/>
    </a>
</div>

