<h1 class="human-name-header">{{ human.fName }} {{ human.lName }}</h1>

<div class="human-blockquote">
    <div class="human-photo">
        <img ng-src="{{ human.photos.b}}" alt="{{ human.fName }} {{ human.lName }}"/>
    </div>
    <p>
        {{ human.about }}
    </p>
</div>
<div class="human-sotial" ng-hide="!fb">
    <a href="{{fb}}" target="_blank">
        <img src="app/img/des/fb.png" alt="facebook"/>
    </a>
</div>
<div class="human-sotial" ng-hide="!git">
    <a href="{{ git }}" target="_blank">
        <img src="app/img/des/git.png" alt="github"/>
    </a>
</div>
<div class="human-sotial" ng-hide="!ya">
    <a href="{{ ya }}" target="_blank">
        <img src="app/img/des/ya.png" alt="ya.ru"/>
    </a>
</div>
<div class="human-sotial" ng-hide="!vk">
    <a href="{{ vk }}" target="_blank">
        <img src="app/img/des/vk.png" alt="vk.com"/>
    </a>
</div>