<form class="control-form" id="teacher-form" ng-submit="submit()">
    <div class="control-form-part">
        <h3 class="main-h3">О Преподавателе:</h3>
        <div class="control-group">
            <label class="control-group-label" for="lName">Фамилия:</label>
            <input id="lName" ng-model="human.lName" ng-required="true">
        </div>
        <div class="control-group">
            <label class="control-group-label" for="fName">Имя:</label>
            <input id="fName" ng-model="human.fName" ng-required="true">
        </div>
        <div class="control-group">
            <label class="control-group-label" for="about">О Себе:</label>
            <textarea id="about" ng-model="human.about"></textarea>
        </div>
    </div>
    <div class="control-form-part">
        <h3 class="main-h3">Ссылки на фото:</h3>
        <div class="control-group">
            <label class="control-group-label" for="photoB">Ссылка на фото(б):</label>
            <input id="photoB" ng-model="human.photos.b">
        </div>
        <div class="control-group">
            <label class="control-group-label" for="photoM">Ссылка на фото(с):</label>
            <input id="photoM" ng-model="human.photos.m">
        </div>
        <div class="control-group">
            <label class="control-group-label" for="photoS">Ссылка на фото(м):</label>
            <input id="photoS" ng-model="human.photos.s">
        </div>
    </div>
    <div class="control-form-part">
        <button type="submit" >{{ readyText }}</button>
        <button ng-click="reset()">Отменить</button>
    </div>
</form>